**.ipynb_checkpoints

data/derived/*
data/osfstorage/*
figures/*
private/*
sandbox/*

**/__pycache__
**/Untitled*.ipynb

.env
.env.neurohackademy
.env.direct

__latexindent_temp.tex
.refresh
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out

**.DS_Store

*.sw[op]
